.header {
    display: table;
    margin: 0 auto;
    font-family: 'Luckiest Guy';
    font-size: 40px;
    letter-spacing: 4px;
}

.wholeContainer {
    width: 800px;
    height: 900px;
    background-color: rgb(250, 207, 213);
    display: table;
    margin: 0 auto;
    border: 10px solid white;
    margin-top: 30px;
    border-radius: 15px;
}

.clearfix {
    overflow: auto;
  }

#start {
    display: table;
    margin: 0 auto;
    width: 500px;
    height: 200px;
    font-size: 70px;
    text-align: center;
    color: rgb(255, 249, 193);
    margin-top: 60px;
    margin-bottom: 0;
    background-color:rgb(127, 217, 233);
    border-radius: 15px;
    border: 10px solid white;
    
}

.text{
    margin-bottom: 250px;
    text-align: center;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}

#showAnswer{
    font-weight:bold !important;
}

 #image-holder {
    width: 500px;
    height: 300px;
    margin: 0 auto;
} 

img {
    margin: 0 auto;
    border: 10px solid white;
    border-radius: 15px;
}

  .finalScreen{
    font-family: 'Luckiest Guy';
    text-align: center;
    font-size: 40px;
  }

  #showAnswer{
      font-weight:bold
  }

  .choice:hover{
    width: 250px;
    height: 50px;
    background-color:rgb(226, 119, 240);
  }

  .choice{
    display:block;
    width: 250px;
    height: 50px;
    margin: 0 auto; 
    font-size: 20px; 
  }
